/* popup.css */
body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', serif;
}




h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

p {
    text-align: start;
    color: #050505;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    background-color: rgb(251, 254, 255);
    padding: 10px;
    border-radius: 5px;
}

#submit-btn {
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(1, 133, 204);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

textarea {
    width: 100%;
    min-height: 100px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    cursor: text;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.social-link {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.social-link:hover {
    background-color: #eee;
}

#close {
    font-family: 'Playfair Display', serif;
    text-align: center;
    cursor: pointer;
}


@media (prefers-color-scheme: dark) {

    /* CSS styles for dark mode */
    body,
    p,
    textarea {
        background-color: #1c1c1c;
        color: #f0f0f0;
    }
}

@media (prefers-color-scheme: light) {

    /* CSS styles for light mode */
    body,
    p,
    textarea {
        background-color: #f0f0f0;
        color: #1c1c1c;
    }
}